html,
body {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, Helvetica, Arial, sans-serif !important;
}

a:hover {
    opacity: 0.8;
    text-decoration: underline !important;
}

.fullscreenBackground {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    left: 0;
    top: 0;
    object-fit: cover;
    opacity: 0.1;
    filter: grayscale(100%) blur(4px);
}

.bg-white-70 {
    background: rgba(255, 255, 255, 0.7) !important;
}

.min-vh-80 {
    min-height: 80vh;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--dark) !important;
}

.dropdown-menu {
    background: none !important;
    border: none !important;
}
